﻿@page
@model GestionProfilCV.Pages.Utilisateurs.EditModel
@{
    Layout = "_LayoutApp";
    ViewData["Title"] = "Modifier le profil";
}

<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h1 class="text-center">Modifier le profil</h1>
            @if (!string.IsNullOrEmpty(Model.errorMessage))
            {
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    <strong>@Model.errorMessage</strong>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            }

            <form method="post">
                <input type="hidden" name="ID_Utilisateur" value="@Model.utilisateur.ID_Utilisateur" />
                <div class="form-group">
                    <label for="inputNom">Nom</label>
                    <input type="text" class="form-control" id="inputNom" value="@Model.utilisateur.Nom" name="Nom" placeholder="Entrez votre nom">
                </div>
                <div class="form-group">
                    <label for="inputPrenom">Prénom</label>
                    <input type="text" class="form-control" id="inputPrenom" name="Prenom" value="@Model.utilisateur.Prenom" placeholder="Entrez votre prénom">
                </div>
                <div class="form-group">
                    <label for="inputAdresseEmail">Adresse email</label>
                    <input type="email" class="form-control" id="inputAdresseEmail" name="AdresseEmail" value="@Model.utilisateur.AdresseEmail" placeholder="Entrez votre adresse email">
                </div>
                <div class="form-group">
                    <label for="inputMotDePasse">Mot de passe</label>
                    <input type="password" class="form-control" id="inputMotDePasse" name="MotDePasse" value="@Model.utilisateur.MotDePasse" placeholder="Entrez votre mot de passe">
                </div>
                <div class="form-group">
                    <label for="inputDateNaissance">Date de naissance</label>
                    <input type="date" class="form-control" name="DateNaissance" value="@Model.utilisateur.DateNaissance.ToString("yyyy-MM-dd")" id="inputDateNaissance">
                </div>
                <button type="submit" class="btn btn-primary">Enregistrer</button>
            </form>

            @if (!string.IsNullOrEmpty(Model.successMessage))
            {
                <div class="row mb-3">
                    <div class="col-sm-9">
                        <div class="alert alert-success alert-dismissible fade show" role="alert">
                            <strong>@Model.successMessage</strong>
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>