﻿@page
@model GestionProfilCV.Pages.Competences.EditModel
@{
}
<div class="card-header mb-1">
    <h4 class="card-title">Modifier Competence</h4>
    <a class="heading-elements-toggle"><i class="la la-ellipsis-v font-medium-3"></i></a>
    <div class="heading-elements">
        <ul class="mb-0">
            <a href="/Competences/Index" class="btn btn-primary">
                <span class="icon text-white-50">
                    <i class="la la-home"></i>
                </span>
                <span class="text">
                    Competences
                </span>
            </a>
        </ul>
    </div>
</div>
<div class="card-content collapse show">
    <div class="container">
        <form class="form"  method="post">
            <input type="hidden" name="ID_Competence" value="@Model.competence.ID_Competence" />
            <!-- Les champs du formulaire -->
            <div class="form-body">
                <h4 class="form-section"></h4>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="libelle">Nom Competence :</label>
                            <input type="text" name="NomCompetence" value="@Model.competence.NomCompetence" class="form-control">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="address">Niveau Competence :</label>
                            <input type="text" name="NiveauCompetence" value="@Model.competence.NiveauCompetence" required class="form-control">
                        </div>
                    </div>
                </div>
                <div class="form-actions">
                    <button type="button" class="btn btn-warning mr-1">
                        <i class="ft-x"></i> Annuler
                    </button>
                    <button type="submit" class="btn btn-primary">
                        <i class="la la-check-square-o"></i> Modifier
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
