﻿@page
@model GestionProfilCV.Pages.ExperiencesProfessionnelles.EditModel
@{
}
<div class="card-header mb-1">
    <h4 class="card-title">Créer Nouveau Experience Professionnelle</h4>
    <a class="heading-elements-toggle"><i class="la la-ellipsis-v font-medium-3"></i></a>
    <div class="heading-elements">
        <ul class="mb-0">
            <a href="/ExperiencesProfessionnelles/Index" class="btn btn-primary">
                <span class="icon text-white-50">
                    <i class="la la-home"></i>
                </span>
                <span class="text">
                    Experiences Professionnelles
                </span>
            </a>
        </ul>
    </div>
</div>
<div class="card-content collapse show">
    <div class="container">
        <form class="form" method="post">
            <input type="hidden" name="ID_Experience" value="@Model.experienceProfessionnelle.ID_Experience" />
            <!-- Les champs du formulaire -->
            <div class="form-body">
                <h4 class="form-section"></h4>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="libelle">Titre Poste :</label>
                            <input type="text" name="TitrePoste" value="@Model.experienceProfessionnelle.TitrePoste" class="form-control">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="address">Entreprise :</label>
                            <input type="text" name="Entreprise" value="@Model.experienceProfessionnelle.Entreprise" required class="form-control">
                        </div>
                    </div>
                </div>
                <div class="row">

                    <div class="col-md-12">
                        <div class="form-group">
                            <p>Description Taches :</p>
                            <textarea rows="5" cols="100" name="DescriptionTaches">

                                @Model.experienceProfessionnelle.DescriptionTaches
                            </textarea>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="loyer">Date Debut :</label>
                            <input type="date" name="DateDebut" value="@Model.experienceProfessionnelle.DateDebut.ToString("yyyy-MM-dd")" required class="form-control">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="loyer">Date Fin :</label>
                            <input type="date" name="DateFin" value="@Model.experienceProfessionnelle.DateFin.ToString("yyyy-MM-dd")" required class="form-control">
                        </div>
                    </div>

                </div>
                <div class="form-actions">
                    <button type="button" class="btn btn-warning mr-1">
                        <i class="ft-x"></i> Annuler
                    </button>
                    <button type="submit" class="btn btn-primary">
                        <i class="la la-check-square-o"></i> Modifier
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>