﻿@page
@model GestionProfilCV.Pages.ExperiencesProfessionnelles.IndexModel
@{
}
<div class="card-header mb-1">
    <h4 class="card-title">List Des Experience Professionnelle</h4>
    <a class="heading-elements-toggle"><i class="la la-ellipsis-v font-medium-3"></i></a>
    <div class="heading-elements">
        <ul class="mb-0">
            <a href="/ExperiencesProfessionnelles/Create" class="btn btn-primary">
                <span class="icon text-white-50">
                    <i class="la la-plus"></i>
                </span>
                <span class="text">Créer Nouveau Experience Professionnelle</span>
            </a>
        </ul>
    </div>
</div>
<div class="card-content collapse show">
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Titre Poste</th>
                    <th scope="col">Entreprise</th>
                    <th scope="col">Description Taches</th>
                    <th scope="col">Date Debut</th>
                    <th scope="col">Date Fin</th>
                    <th scope="col" class="text-center" style="width: 30px;">Opérations</th>
                </tr>
            </thead>
            <tbody>
                @foreach(var item in Model.listExperiencesProfessionnelles)
                {
                <!-- Boucle pour afficher les formations -->
                <tr>
                        <td>@item.TitrePoste</td>
                        <td>@item.Entreprise</td>
                    <td>
                          @item.DescriptionTaches
                    </td>
                    <td>
                            @item.DateDebut
                    </td>
                    <td>
                            @item.DateFin
                    </td>
                    <td>
                        <div class="btn-group btn-group-sm">
                            <form action="/ExperiencesProfessionnelles/Edit" method="get">
                                    <input type="hidden" name="ID_Experience" value="@item.ID_Experience">
                                <button type="submit" class="btn btn-success la la-edit">
                                </button>
                            </form>
                                <form action="/ExperiencesProfessionnelles/Delete" method="get">
                                    <input type="hidden" name="ID_Experience" value="@item.ID_Experience">
                                <button type="submit" onclick="return confirm('ete vous sur pour la suppression ? ')" class="btn btn-danger la la-trash">
                                </button>
                            </form>

                        </div>
                    </td>
                </tr>
                <!-- Fin de la boucle -->
                <!-- <tr>
                     <td colspan="6" class="text-center">Aucun quartier</td>
                 </tr> -->
                 }
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="6">
                        <div class="float-right">
                            <!-- Pagination -->
                        </div>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
    </div>
