﻿@page
@model GestionProfilCV.Pages.Formations.EditModel
@{
}
<div class="card-header mb-1">
    <h4 class="card-title">Modifier Formation</h4>
    <a class="heading-elements-toggle"><i class="la la-ellipsis-v font-medium-3"></i></a>
    <div class="heading-elements">
        <ul class="mb-0">
            <a href="/Formations/Index" class="btn btn-primary">
                <span class="icon text-white-50">
                    <i class="la la-home"></i>
                </span>
                <span class="text">
                    Formations
                </span>
            </a>
        </ul>
    </div>
</div>
<div class="card-content collapse show">
    <div class="container">
        <form class="form"  method="post">
            <input type="hidden" name="ID_Formation" value="@Model.formation.ID_Formation" />
            <!-- Les champs du formulaire -->
            <div class="form-body">
                <h4 class="form-section"></h4>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="libelle">Diplome Ou Certificat :</label>
                            <input type="text" name="DiplomeOuCertificat" value="@Model.formation.DiplomeOuCertificat" class="form-control">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="address">Institution :</label>
                            <input type="text" name="Institution" value="@Model.formation.Institution" required class="form-control">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="address">Domaine Etudes :</label>
                            <input type="text" name="DomaineEtudes" value="@Model.formation.DomaineEtudes" required class="form-control">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="loyer">Date Debut :</label>
                            <input type="date" name="DateDebut" value="@Model.formation.DateDebut.ToString("yyyy-MM-dd")" required class="form-control">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <label for="loyer">Date Fin :</label>
                        <input type="date" name="DateFin" value="@Model.formation.DateFin.ToString("yyyy-MM-dd")" required class="form-control">
                    </div>
                </div>
                <div class="form-actions">
                    <button type="button" class="btn btn-warning mr-1">
                        <i class="ft-x"></i> Annuler
                    </button>
                    <button type="submit" class="btn btn-primary">
                        <i class="la la-check-square-o"></i> Modifier
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
