﻿@page
@model GestionProfilCV.Pages.Formations.IndexModel
@{
}

<div class="card-header mb-1">
    <h4 class="card-title">List Des Formations</h4>
    <a class="heading-elements-toggle"><i class="la la-ellipsis-v font-medium-3"></i></a>
    <div class="heading-elements">
        <ul class="mb-0">
            <a href="/Formations/Create" class="btn btn-primary">
                <span class="icon text-white-50">
                    <i class="la la-plus"></i>
                </span>
                <span class="text">Créer Nouveau Formation</span>
            </a>
        </ul>
    </div>
</div>
<div class="card-content collapse show">
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Diplome Ou Certificat</th>
                    <th scope="col">Institution</th>
                    <th scope="col">Domaine Etudes</th>
                    <th scope="col">Date Debut</th>
                    <th scope="col">Date Fin</th>
                    <th scope="col" class="text-center" style="width: 30px;">Opérations</th>
                </tr>
            </thead>
            <tbody>
                <!-- Boucle pour afficher les formations -->
                @foreach(var item in Model.listFormations)
                {
                  <tr>
                    <td>@item.DiplomeOuCertificat</td>
                    <td>@item.Institution</td>
                    <td>
                        @item.DomaineEtudes
                    </td>
                    <td>
                       @item.DateDebut
                    </td>
                    <td>
                        @item.DateFin
                    </td>
                    <td>
                        <div class="btn-group btn-group-sm">
                                <form action="/Formations/Edit" method="get">
                                    <input type="hidden" value="@item.ID_Formation" name="ID_Formation" />
                                <button type="submit" class="btn btn-success la la-edit">
                                </button>
                            </form>
                                <form action="/Formations/Delete" method="get">
                               <input type="hidden" value="@item.ID_Formation" name="ID_Formation" />
                                <button type="submit" onclick="return confirm('ete vous sur pour la suppression ? ')" class="btn btn-danger la la-trash">
                                </button>
                            </form>

                        </div>
                    </td>
                </tr>  
                }
                
                <!-- Fin de la boucle -->
                <!-- <tr>
                     <td colspan="6" class="text-center">Aucun quartier</td>
                 </tr> -->

            </tbody>
            <tfoot>
                <tr>
                    <td colspan="6">
                        <div class="float-right">
                            <!-- Pagination -->
                        </div>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>