﻿@page
@model GestionProfilCV.Pages.DisplayCvModel
@{
}

<div class="row m-1">
	<div class="col-md-6">
		<form method="post">
			<button type="submit" class="btn btn-primary" name="downloadPDF">Télécharger le CV <i class="la la-download"></i> </button>
		</form>
	</div>
</div>

<div class="card-header bg-light">
    <h1><i class="la la-user text-primary"></i> @Model.utilisateur.Nom @Model.utilisateur.Prenom</h1>
    <p><i class="la la-envelope text-primary"></i> Email: @Model.utilisateur.AdresseEmail</p>
    <p><i class="la la-calendar text-primary"></i> Date de naissance: @Model.utilisateur.DateNaissance.ToShortDateString()</p>
</div>

<hr />

<div class="row">
    <div class="col-md-6">
        @if (Model.listExperiencesProfessionnelles.Any())
        {
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title"><i class="la la-briefcase text-dark"></i> Expériences professionnelles</h2>
                    <ul>
                        @foreach (var experience in Model.listExperiencesProfessionnelles)
                        {
                            <li>
                                <h3>@experience.TitrePoste</h3>
                                <p>@experience.Entreprise</p>
                                <p>@experience.DateDebut.ToShortDateString() - @experience.DateFin.ToShortDateString()</p>
                                <p>@experience.DescriptionTaches</p>
                            </li>
                            <hr />
                        }
                    </ul>
                </div>
            </div>
        }
    </div>

    <div class="col-md-6">
        @if (Model.listFormations.Any())
        {
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title"><i class="la la-graduation-cap text-dark"></i> Formations</h2>
                    <ul>
                        @foreach (var formation in Model.listFormations)
                        {
                            <li>
                                <h3>@formation.DiplomeOuCertificat</h3>
                                <p>@formation.Institution</p>
                                <p>@formation.DateDebut.ToShortDateString() - @formation.DateFin.ToShortDateString()</p>
                                <p>@formation.DomaineEtudes</p>
                            </li>
                            <hr />
                        }
                    </ul>
                </div>
            </div>
        }
    </div>
</div>

<hr />

<div class="row">
    <div class="col-md-6">
        @if (Model.listCompetences.Any())
        {
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title"><i class="la la-check-circle text-white m-lg-2 icon-large" aria-hidden="true"></i> Compétences</h2>
                    <ul>
                        @foreach (var competence in Model.listCompetences)
                        {
                            <li>
                                <h3>@competence.NomCompetence</h3>
                                <p>@competence.NiveauCompetence</p>
                            </li>
                            <hr />
                        }
                    </ul>
                </div>
            </div>
        }
    </div>

    <div class="col-md-6">
        @if (Model.listProjets.Any())
        {
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title"><i class="la la-cogs text-dark"></i> Projets</h2>
                    <ul>
                        @foreach (var projet in Model.listProjets)
                        {
                            <li>
                                <h3>@projet.NomProjet</h3>
                                <p>@projet.DescriptionProjet</p>
                                <p>@projet.DateDebut.ToShortDateString() - @projet.DateFin.ToShortDateString()</p>
                            </li>
                            <hr />
                        }
                    </ul>
                </div>
            </div>
        }
    </div>
</div>

<hr />

<div class="row">
    <div class="col-md-6">
        @if (Model.listCertifications.Any())
        {
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title"><i class="la la-certificate text-dark"></i> Certifications</h2>
                    <ul>
                        @foreach (var certification in Model.listCertifications)
                        {
                            <li>
                                <h3>@certification.NomCertification</h3>
                                <p>@certification.AutoriteCertification</p>
                                <p>@certification.DateObtention.ToShortDateString()</p>
                            </li>
                            <hr/>
                        }
                    </ul>
                </div>
            </div>
        }
    </div>
</div>

