﻿
@page

@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<style>

    .icon-large {
        font-size: 30px;
    }
</style>

<div class="card-header">
    Statistique
</div>
<div class="card-body">
    <div class="row">
        <div class="col-md-4 mb-3">
            <div class="card h-100 bg-info text-white">
                <div class="card-body text-center">
                    <i class="la la-mortar-board text-white m-lg-2 icon-large" aria-hidden="true"></i>
                    <h5 class="card-title">Formations</h5>
                    <div class="card-text">@Model.listFormations.Count</div>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-3">
            <div class="card h-100 bg-warning text-white">
                <div class="card-body text-center">
                    <i class="la la-briefcase text-white m-lg-2 icon-large" aria-hidden="true"></i>
                    <h5 class="card-title">Expériences</h5>
                    <div class="card-text">@Model.listExperiencesProfessionnelles.Count</div>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-3">
            <div class="card h-100 bg-danger text-white">
                <div class="card-body text-center">
                    <i class="la la-check-circle text-white m-lg-2 icon-large" aria-hidden="true"></i>
                    <h5 class="card-title">Compétences</h5>
                    <div class="card-text">@Model.listCompetences.Count</div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 mb-3">
            <div class="card h-100 bg-success text-white">
                <div class="card-body text-center">
                    <i class="la la-cogs text-white m-lg-2 icon-large" aria-hidden="true"></i>
                    <h5 class="card-title">Projets</h5>
                    <div class="card-text">@Model.listProjets.Count</div>
                </div>
            </div>
        </div>
        <div class="col-md-6 mb-3">
            <div class="card h-100 text-white" style="background-color:darkgray">
                <div class="card-body text-center">
                    <i class="la la-certificate text-white m-lg-2 icon-large" aria-hidden="true"></i>
                    <h5 class="card-title">Certifications</h5>
                    <div class="card-text">@Model.listCertifications.Count</div>
                </div>
            </div>
        </div>
    </div>
</div>







