﻿@page
@model GestionProfilCV.Pages.InscrireModel
@{
    Layout = "_Layout";
    ViewData["Title"] = "Inscription";
}

<!-- ----------------------->
<div class="row justify-content-center">
    <div class="col-xl-10 col-lg-12 col-md-9">
        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <!-- Nested Row within Card Body -->
                <style>
                    .bg-login-image {
                        background: url(app-assets/images/ico/login01.jpg);
                        background-position: center;
                        background-size: cover;
                    }
                </style>
                <div class="row">
                    <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
                    <div class="col-lg-6">
                        <div class="p-5">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4">Bienvenue pour Inscription !</h1>
                            </div>
                            @if (Model.errorMessage.Length > 0)
                            {
                                <div class="alert alert-warning alert-dismissible fade show" role="alert">

                                    <strong>@Model.errorMessage</strong>
                                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                </div>

                            }

                            <form method="post">
                                <div class="form-group">
                                    <label for="inputNom">Nom</label>
                                    <input type="text" class="form-control" id="inputNom" value="@Model.utilisateur.Nom" name="Nom" placeholder="Entrez votre nom">
                                </div>
                                <div class="form-group">
                                    <label for="inputPrenom">Prénom</label>
                                    <input type="text" class="form-control" id="inputPrenom" name="Prenom" value="@Model.utilisateur.Prenom" placeholder="Entrez votre prénom">
                                </div>
                                <div class="form-group">
                                    <label for="inputAdresseEmail">Adresse email</label>
                                    <input type="email" class="form-control" id="inputAdresseEmail" name="AdresseEmail" value="@Model.utilisateur.AdresseEmail" placeholder="Entrez votre adresse email">
                                </div>
                                <div class="form-group">
                                    <label for="inputMotDePasse">Mot de passe</label>
                                    <input type="password" class="form-control" id="inputMotDePasse" name="MotDePasse" value="@Model.utilisateur.MotDePasse" placeholder="Entrez votre mot de passe">
                                </div>
                                <div class="form-group">
                                    <label for="inputDateNaissance">Date de naissance</label>
                                    <input type="date" class="form-control" name="DateNaissance" value="@Model.utilisateur.DateNaissance" id="inputDateNaissance">
                                </div>
                                <button type="submit" class="btn btn-primary">S'inscrire</button>
                            </form>

                            <p class="mt-3 text-center">Vous avez déjà un compte ? <a href="/Login">Se connecter</a></p>
                            @if (Model.successMessage.Length > 0)
                            {
                                <div class="row mb-3">
                                    <div class="col-sm-9">
                                        <div class="alert alert-success alert-dismissible fade show" role="alert">

                                            <strong>@Model.successMessage</strong>
                                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                        </div>
                                    </div>

                                </div>

                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

