﻿@page
@model GestionProfilCV.Pages.LoginModel
@{
    Layout = "_Layout";
    ViewData["Title"] = "Connexion";
}

<div class="row justify-content-center">
    <div class="col-xl-10 col-lg-12 col-md-9">
        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <!-- Nested Row within Card Body -->
                <style>
                    .bg-login-image {
                        background: url(app-assets/images/ico/login01.jpg);
                        background-position: center;
                        background-size: cover;
                    }
                </style>
                <div class="row">
                    <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
                    <div class="col-lg-6">
                        <div class="p-5">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4">Bienvenue pour Connexion !</h1>
                            </div>
                            @if (Model.errorMessage.Length > 0)
                            {
                                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                                    <strong>@Model.errorMessage</strong>
                                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                </div>
                            }
                            <form method="post">
                                <div class="form-group">
                                    <input type="email" class="form-control form-control-user" name="AdresseEmail" value="@Model.adresseEmail" placeholder="Entrez votre adresse email">
                                </div>
                                <div class="form-group">
                                    <input type="password" class="form-control form-control-user" name="MotDePasse" value="@Model.motDePasse" placeholder="Entrez votre mot de passe">
                                </div>
                                <button type="submit" class="btn btn-primary btn-user btn-block">
                                    Se connecter
                                </button>
                            </form>
                            <hr>
                            <p class="mt-3 text-center">Vous n'avez pas de compte ? <a href="/Inscrire">S'inscrire</a></p>
                            @if (Model.successMessage.Length > 0)
                            {
                                <div class="row mb-3">
                                    <div class="col-sm-9">
                                        <div class="alert alert-success alert-dismissible fade show" role="alert">
                                            <strong>@Model.successMessage</strong>
                                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

