﻿@page
@model GestionProfilCV.Pages.Certifications.CreateModel
@{
}
<div class="card-header mb-1">
    <h4 class="card-title">Créer Nouveau Certification</h4>
    <a class="heading-elements-toggle"><i class="la la-ellipsis-v font-medium-3"></i></a>
    <div class="heading-elements">
        <ul class="mb-0">
            <a href="/Certifications/Index" class="btn btn-primary">
                <span class="icon text-white-50">
                    <i class="la la-home"></i>
                </span>
                <span class="text">
                    Certifications
                </span>
            </a>
        </ul>
    </div>
</div>
<div class="card-content collapse show">
    <div class="container">
        <form class="form" method="post">
            
            <!-- Les champs du formulaire -->
            <div class="form-body">
                <h4 class="form-section"></h4>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="libelle">Nom Certification:</label>
                            <input type="text" name="NomCertification" value="@Model.certification.NomCertification" class="form-control">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="address">Autorite Certification :</label>
                            <input type="text" name="AutoriteCertification" value="@Model.certification.AutoriteCertification"  required class="form-control">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <label for="loyer">Date Obtention :</label>
                        <input type="date" name="DateObtention" value="@Model.certification.DateObtention" required class="form-control">
                    </div>
                </div>
                <div class="form-actions">
                    <button type="button" class="btn btn-warning mr-1">
                        <i class="ft-x"></i> Annuler
                    </button>
                    <button type="submit" class="btn btn-primary">
                        <i class="la la-check-square-o"></i> Créer
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

