﻿@page
@model GestionProfilCV.Pages.Certifications.IndexModel
@{
}

<div class="card-header mb-1">
    <h4 class="card-title">List Des Certifications</h4>
    <a class="heading-elements-toggle"><i class="la la-ellipsis-v font-medium-3"></i></a>
    <div class="heading-elements">
        <ul class="mb-0">
            <a href="/Certifications/Create" class="btn btn-primary">
                <span class="icon text-white-50">
                    <i class="la la-plus"></i>
                </span>
                <span class="text">Créer Nouveau Formation</span>
            </a>
        </ul>
    </div>
</div>
<div class="card-content collapse show">
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Nom Certification</th>
                    <th scope="col">Autorite Certification</th>
                    <th scope="col">Date Obtention</th>
                    <th scope="col" class="text-center" style="width: 30px;">Opérations</th>
                </tr>
            </thead>
            <tbody>
                <!-- Boucle pour afficher les Certifications -->

                 @foreach(var item in Model.listCertifications)
                {
                  <tr>
                    <td>@item.NomCertification</td>
                    <td>@item.AutoriteCertification</td>
                    <td>
                        @item.DateObtention
                    </td>
                    <td>

                        <div class="btn-group btn-group-sm">
                            <form action="/Certifications/Edit" method="get">
                                    <input type="hidden" name="ID_Certification" value="@item.ID_Certification">
                                <button type="submit" class="btn btn-success la la-edit">
                                </button>
                            </form>
                                <form action="/Certifications/Delete" method="get">
                                    <input type="hidden" name="ID_Certification" value="@item.ID_Certification">
                                <button type="submit" onclick="return confirm('ete vous sur pour la suppression ? ')" class="btn btn-danger la la-trash">
                                </button>
                            </form>

                        </div>
                    </td>
                </tr>
                <!-- Fin de la boucle -->
                <!-- <tr>
                     <td colspan="6" class="text-center">Aucun quartier</td>
                 </tr> -->
                 }
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="6">
                        <div class="float-right">
                            <!-- Pagination -->
                        </div>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>