﻿@page
@model GestionProfilCV.Pages.Projets.CreateModel
@{
}
<div class="card-header mb-1">
    <h4 class="card-title">Créer Nouveau Formation</h4>
    <a class="heading-elements-toggle"><i class="la la-ellipsis-v font-medium-3"></i></a>
    <div class="heading-elements">
        <ul class="mb-0">
            <a href="/Projets/Index" class="btn btn-primary">
                <span class="icon text-white-50">
                    <i class="la la-home"></i>
                </span>
                <span class="text">
                    Formations
                </span>
            </a>
        </ul>
    </div>
</div>
<div class="card-content collapse show">
    <div class="container">
        <form class="form"  method="post">
            
            <!-- Les champs du formulaire -->
            <div class="form-body">
                <h4 class="form-section"></h4>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="libelle">Nom Projet :</label>
                            <input type="text" name="NomProjet" value="@Model.projet.NomProjet" class="form-control">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <p>Description Taches :</p>
                            <textarea rows="5" cols="50" name="DescriptionProjet" value="@Model.projet.DescriptionProjet"></textarea>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                    <div class="form-group">
                       <label for="loyer">Date Debut :</label>
                            <input type="date" name="DateDebut" value="@Model.projet.DateDebut" required class="form-control">
                    </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="loyer">Date Fin :</label>
                            <input type="date" name="DateFin" value="@Model.projet.DateFin" required class="form-control">
                        </div>
                    </div>
                </div>
                <div class="form-actions">
                    <button type="button" class="btn btn-warning mr-1">
                        <i class="ft-x"></i> Annuler
                    </button>
                    <button type="submit" class="btn btn-primary">
                        <i class="la la-check-square-o"></i> Créer
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

