﻿@{
    var utilisateurConnecte = Context.Session.GetString("UtilisateurConnecte");
    if (string.IsNullOrEmpty(utilisateurConnecte))
    {
        Context.Response.Redirect("/Login");
    }
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta name="description"
          content="Modern admin is super flexible, powerful, clean &amp; modern responsive bootstrap 4 admin template with unlimited possibilities with bitcoin dashboard.">
    <meta name="keywords"
          content="admin template, modern admin template, dashboard template, flat admin template, responsive admin template, web app, crypto dashboard, bitcoin dashboard">
    <meta name="author" content="PIXINVENT">
    <link rel="apple-touch-icon" href="~/app-assets/images/ico/defaultLogoRimPub.jpg">
    <link rel="shortcut icon" type="image/x-icon" href="~/app-assets/images/ico/defaultLogoRimPub.jpg">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Quicksand:300,400,500,700"
          rel="stylesheet">
    <link href="~/app-assets/fonts/googlefonts.css" rel="stylesheet">
    <link href="https://maxcdn.icons8.com/fonts/line-awesome/1.1/css/line-awesome.min.css" rel="stylesheet">
    <link href="~/app-assets/fonts/line-awesome/css/line-awesome.min.css" rel="stylesheet">
    <link href="~/app-assets/fonts/fontawesome-free/css/all.min.css" rel="stylesheet">
    <!-- BEGIN VENDOR CSS-->
    <link rel="stylesheet" type="text/css"
          href="~/app-assets/css/vendors.css">
    <!-- END VENDOR CSS-->
    <!-- BEGIN MODERN CSS-->
    <link rel="stylesheet" type="text/css"
          href="~/app-assets/css/app.css">
    <link href="~/app-assets/fonts/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">

    <!-- END MODERN CSS-->
    <!-- BEGIN Page Level CSS-->
    <link rel="stylesheet" type="text/css"
          href="~/app-assets/css/core/menu/menu-types/vertical-menu-modern.css">
    <link rel="stylesheet" type="text/css"
          href="~/app-assets/css/core/colors/palette-gradient.css">
    <link rel="stylesheet" type="text/css"
          href="~/app-assets/vendors/css/charts/jquery-jvectormap-2.0.3.css">
    <link rel="stylesheet" type="text/css" href="~/app-assets/vendors/css/charts/morris.css">
    <link rel="stylesheet" type="text/css" href="~/app-assets/fonts/simple-line-icons/style.css">
    <link rel="stylesheet" type="text/css"
          href="~/app-assets/css/core/colors/palette-gradient.css">

    <!-- END Page Level CSS-->
    <!-- BEGIN Custom CSS-->
    <link rel="stylesheet" type="text/css" href="~/app-assets/css/style.css">

    <!-- END Custom CSS-->
</head>
<body class="vertical-layout vertical-menu-modern 2-columns   menu-expanded fixed-navbar" data-open="click"
      data-menu="vertical-menu-modern" data-col="2-columns">
        <nav
    class="header-navbar navbar-expand-md navbar navbar-with-menu navbar-without-dd-arrow fixed-top navbar-semi-dark navbar-shadow">
    <div class="navbar-wrapper">
        <div class="navbar-header">
            <ul class="nav navbar-nav flex-row">
                <li class="nav-item mobile-menu d-md-none mr-auto"><a class="nav-link nav-menu-main menu-toggle hidden-xs"
                        href="#"><i class="ft-menu font-large-1"></i></a></li>
                <li class="nav-item mr-auto">
                    <a class="navbar-brand" href="#">
                            <img class="brand-logo rounded-circle" alt="Gestion cv "
                                 src="~/app-assets/images/ico/cvLogo.jfif">
                            <h5 class="brand-text">GestionProfilCV</h5>
                    </a>
                </li>
                <li class="nav-item d-none d-md-block float-right"><a class="nav-link modern-nav-toggle pr-0"
                        data-toggle="collapse"><i class="toggle-icon ft-toggle-right font-medium-3 white"
                            data-ticon="ft-toggle-right"></i></a></li>
                <li class="nav-item d-md-none">
                    <a class="nav-link open-navbar-container" data-toggle="collapse" data-target="#navbar-mobile"><i
                            class="la la-ellipsis-v"></i></a>
                </li>
            </ul>
        </div>
        <div class="navbar-container content">
            <div class="collapse navbar-collapse" id="navbar-mobile">
                <ul class="nav navbar-nav mr-auto float-left">

                </ul>
                <ul class="nav navbar-nav float-right">
                    <li class="dropdown dropdown-user nav-item">
                        <a class="dropdown-toggle nav-link dropdown-user-link" href="#" data-toggle="dropdown">
                            <span class="mr-1">Bien venu,
                              <span class="user-name text-bold-700">

                                        @if (!string.IsNullOrEmpty(utilisateurConnecte))
                                        {
                                           
                                             @utilisateurConnecte
                                            
                                        }
                              </span>
                            </span>
                            <span class="avatar avatar-online">
                              <img src="~/app-assets/images/portrait/small/avatar-s-19.png" alt="avatar"><i></i></span>
                          </a>
                            <div class="dropdown-menu dropdown-menu-right">
                                <a class="dropdown-item" href="/Utilisateurs/Edit">
                                    <i class="ft-user"></i>
                                    Modifier profile</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="" data-toggle="modal" data-target="#logoutModal"><i
                                        class="ft-power"></i>Se déconnecter</a>
                            </div>
                    </li>

                </ul>
            </div>
        </div>
    </div>
</nav>
<!--side bar -->
    <div class="main-menu menu-fixed menu-dark menu-accordion menu-shadow" data-scroll-to-active="true">
        <div class="main-menu-content">
            <ul class="navigation navigation-main" id="main-menu-navigation" data-menu="menu-navigation">
                <li class=" nav-item">
                    <a href="/Index">
                        <i class="la la-home"></i><span class="menu-title"
                                                        data-i18n="nav.dash.main">Dashboard</span>
                    </a>
                </li>

                <li class=" nav-item">
                    <a href="#">
                        <i class="la la-users"></i><span class="menu-title"
                                                         data-i18n="nav.templates.main">Genere cv</span>
                    </a>
                    <ul class="menu-content">
                        <li>
                            <a class="menu-item" href="/DisplayCv"
                               data-i18n="nav.templates.vert.main">Generer cv</a>
                        </li>
                    </ul>
                </li>

                <li class=" nav-item">
                    <a href="#">
                        <i class="la la-list"></i><span class="menu-title"
                                                        data-i18n="nav.templates.main">Formations</span>
                    </a>
                    <ul class="menu-content">
                        <li>
                            <a class="menu-item" href="/Formations/index"
                               data-i18n="nav.templates.vert.main">Formations</a>
                        </li>
                    </ul>
                </li>
                <li class=" nav-item">
                    <a href="#">
                        <i class="la la-edit"></i><span class="menu-title"
                                                        data-i18n="nav.templates.main">ExperiencesProfessionnelles</span>
                    </a>
                    <ul class="menu-content">
                        <li>
                            <a class="menu-item" href="/ExperiencesProfessionnelles/index"
                               data-i18n="nav.templates.vert.main">ExperiencesProfessionnelles</a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a href="#">
                        <i class="la la-sliders"></i><span class="menu-title"
                                                           data-i18n="nav.templates.main">Projets</span>
                    </a>
                    <ul class="menu-content">
                        <li>
                            <a class="menu-item" href="/Projets/index"
                               data-i18n="nav.templates.vert.main">Projets</a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a href="/Competences/index">
                        <i class="la la-sliders"></i><span class="menu-title"
                                                           data-i18n="nav.templates.main">Competences</span>
                    </a>
                    <ul class="menu-content">
                        <li>
                            <a class="menu-item" href="/Competences/index"
                               data-i18n="nav.templates.vert.main">Competences</a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a href="/Certifications/index">
                        <i class="la la-sliders"></i><span class="menu-title"
                                                           data-i18n="nav.templates.main">Certifications</span>
                    </a>
                    <ul class="menu-content">
                        <li>
                            <a class="menu-item" href="/Certifications/index"
                               data-i18n="nav.templates.vert.main">Certifications</a>
                        </li>
                    </ul>
                </li>
        </div>
    </div>
    <!-- end siteside bar -->
    <div class="app-content content">
        <div class="content-wrapper">
            <div class="content-body">
                <!-- ICI CEST LE CONTENU -->
                <!-- --------page table.html -->
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            @RenderBody()
                        </div>
                    </div>
                </div>
                <!-- -------end page table.html-------- -->
            </div>
        </div>
    </div>
    <footer class="footer footer-static footer-light navbar-border navbar-shadow">
        <p class="clearfix blue-grey lighten-2 text-sm-center mb-0 px-2">
            <span class="float-md-left d-block d-md-inline-block">
                Agence Immobilier
                ,<a class="text-bold-800 grey darken-2" href="http://localhost:8080/JeeGestionImmobilier/index.jsp" target="_blank">www.frontend.com </a>,watsapp :
                +22249874807
            </span>
            <span class="float-md-right d-block d-md-inline-blockd-none d-lg-block">
                developpement & programmation <i class="ft-heart pink"></i>
            </span>
        </p>
    </footer>
    <!--modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel"></h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">déconnecter</div>
                <div class="modal-footer">
                    <button class="btn btn-warning" type="button" data-dismiss="modal">Non</button>
                    <a class="btn btn-primary" href="javascript:void(0);"
                       onclick="event.preventDefault();document.getElementById('auth-form').submit();">Oui</a>
                    <form action="/Login/" method="post" id="auth-form">
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!--fin modal-->
    

 
    <!-- BEGIN VENDOR JS-->

    <script src="~/app-assets/vendors/js/vendors.min.js" type="text/javascript"></script>

    <!-- BEGIN VENDOR JS-->
    <!-- BEGIN PAGE VENDOR JS-->
    <script src="~/app-assets/data/jvector/visitor-data.js" type="text/javascript"></script>
    <!-- END PAGE VENDOR JS-->
    <!-- BEGIN MODERN JS-->
    <script src="~/app-assets/js/core/app-menu.js" type="text/javascript"></script>
    <script src="~/app-assets/js/core/app.js" type="text/javascript"></script>
    <script src="~/app-assets/js/scripts/customizer.js" type="text/javascript"></script>
    <!-- END MODERN JS-->
    <!-- BEGIN PAGE LEVEL JS-->
    <!-- END PAGE LEVEL JS-->




</body>
</html>
